@model WebApplication1.Models.OOADPoruka

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>OOADPoruka</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OOADKorisnici.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OOADKorisnici.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OOADKorisnici1.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OOADKorisnici1.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sadrzaj)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sadrzaj)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vidjenost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vidjenost)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
