@model IEnumerable<WebApplication1.Models.OOADPoruka>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Sadrzaj)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Posiljaoc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Primaoc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vidjenost)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Sadrzaj)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Posiljaoc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Primaoc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vidjenost)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
